.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  background-color: white;
  padding: 30px 40px;
  border-radius: 8px;
  pointer-events: auto;
}

.modalTitle {
  color: #2f3337;
  font-size: 1rem;
  font-family: var(--font-quicksandBold);
}

.modalSub {
  color: #2f3337;
  font-size: 1rem;
  font-family: var(--font-quicksand);
}

.greenButton {
  margin-top: 1.25rem;
  margin-right: 0.5rem;
  display: inline-flex;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: #48bb78;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-family: var(--font-quicksandBold);
  color: #ffffff;
  box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.cancelButton {
  margin-top: 0.75rem;
  margin-right: 0.5rem;
  display: inline-flex;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: #ffffff;
  padding: 0.5rem 0.75rem;
  font-size: 0.875rem;
  font-family: var(--font-quicksandBold);
  color: #1a202c;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  border: 1px solid #d2d6dc;
  box-shadow: inset 0px 0px 0px 1px #d2d6dc;
}

.accountTitleText {
  color: rgba(255, 165, 0, 0.7);
  font-family: var(--font-quicksandBold);
  font-size: 2.25rem;
}

.accountRegularText {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #718096;
  font-size: 1.125rem;
  font-family: var(--font-quicksandBold);
}

.clearFridgeButton {
  padding: 0.5rem 0.75rem; /* py-2, px-3 */
  margin: 1rem 0; /* my-3 */
  border-radius: 0.375rem; /* rounded-md */
  background-color: rgba(245, 101, 101, 0.5); /* bg-red-600/50 */
  color: #ffffff; /* text-white */
  font-size: 0.875rem; /* text-sm */
  font-family: var(--font-quicksand);
}
