.accountTitleText {
  color: #ff9f67;
  font-family: var(--font-quicksandBold);
  font-size: 2.25rem;
}

.accountRegularText {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #2b2b2b;
  font-size: 1.125rem;
  font-family: var(--font-quicksandBold);
}
