.contactContainer {
  margin: 3rem 2.5rem;
}

.headerContainer {
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.titleText {
  color: rgba(255, 165, 0, 0.7);
  font-family: var(--font-quicksandBold);
  font-size: 2.25rem;
  text-align: center;
}

.subText {
  margin-top: 0.5rem;
  font-size: 1.125rem;
  color: #4a5568;
  font-family: var(--font-quicksandBold);
  text-align: center;
}

.formContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  max-width: 40rem;
}

.labelText {
  font-size: 0.875rem;
  font-family: var(--font-quicksandBold);
  color: #4a5568;
}

.input {
  width: 100%;
  border-radius: 0.375rem;
  border: none;
  padding: 0.625rem 0.875rem;
  margin-top: 0.5rem;
  margin-bottom: 0.625rem;
  color: #4a5568;
  outline: none;
  position: relative;
  font-family: var(--font-quicksand);
  border: 1px solid;
}

.textArea {
  margin-top: 0.5rem;
  width: 100%;
  border-radius: 0.375rem;
  border: 1px solid;
  padding: 0.5rem 0.875rem;
  color: #718096;
  font-family: var(--font-quicksand);
}

.sendButton {
  display: block;
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.375rem;
  background-color: orange;
  padding: 0.625rem 0.875rem;
  font-size: 0.875rem;
  color: white;
  font-family: var(--font-quicksand);
}
