.getRecipesButton {
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  background-color: #ff9f67;
  color: white;
  font-family: var(--font-quicksand);
  margin: 0.5rem 0;
}

.clearButton {
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  background-color: #3e6b8e;
  color: white;
  font-family: var(--font-quicksand);
  margin: 0.5rem 0;
}

.titleText {
  text-align: left;
  padding-bottom: 0.5rem;
  font-family: var(--font-quicksandBold);
  font-size: 1.125rem;
  color: #2f3337;
}

.itemsGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 0.375rem;
}

@media (min-width: 768px) {
  .itemsGrid {
    grid-template-columns: repeat(6, 1fr);
  }
}

.redItem {
  cursor: pointer;
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  background-color: #f28c8c;
  font-size: 0.875rem;
  font-family: var(--font-quicksand);
  color: #2b2b2b;
}

.greenItem {
  cursor: pointer;
  padding: 0.75rem 1rem;
  border-radius: 0.375rem;
  background-color: #89c9a3;
  font-size: 0.875rem;
  font-family: var(--font-quicksand);
  color: #2b2b2b;
}

.orangeBackground {
  background-color: #ff9f67;
  color: white;
}

.recipeCardsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.emptyListText {
  padding: 0.5rem;
  text-align: center;
  color: #2b2b2b;
  margin: auto;
  font-family: var(--font-quicksand);
}
