.userName {
  font-family: var(--font-quicksandBold);
  color: white;
  border-radius: 10px;
  padding: 1rem 1rem;
  background-color: #ff9f67;
}

.customLink {
  position: relative;
}

.mobileCustomLink {
  position: fixed;
  inset: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background-color: white;
}

.mobileCustomLinkLine {
  width: 100%;
  height: 2px;
  background-color: #ff9f67;
  position: absolute;
  left: 0px;
  bottom: -0.125rem;
}

.mobileCustomLinkText {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #2b2b2b;
  font-family: var(--font-quicksandBold);
  font-size: 1.25rem;
}

.hidden {
  display: none;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

@media (min-width: 640px) {
  .hamburgerButton {
    display: none;
    padding: 0.5rem;
  }

  .webNavContainer {
    display: flex;
  }
}

.hamburgerIcon {
  height: 1.5rem;
  width: 1.5rem;
}

.webNavContainer {
  position: relative;
  display: none;
}

@media screen and (min-width: 640px) {
  .webNavContainer {
    display: flex;
  }
  .webNavLogo {
    display: none;
  }
}

.webNavContainer > :not([hidden]) ~ :not([hidden]) {
  margin-left: 2rem;
}

.webNavLogo {
  display: block;
  margin-right: 0.75rem;
}

.webNavLink {
  display: inline-flex;
  align-items: center;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #2b2b2b;
  font-family: var(--font-quicksandBold);
}

.signOutContainer {
  position: absolute;
  right: 3rem;
  top: 4rem;
  border: 1px solid black;
  padding: 1rem 0.5rem;
  background-color: white;
  border-radius: 10px;
}
