.recipeDetailsContainer {
  margin: 1.5rem;
}

.textContainer {
  padding: 20px;
}

.titleText {
  text-align: left;
  padding-bottom: 0.5rem;
  font-family: var(--font-quicksandBold);
  font-size: 1.125rem;
  color: #2b2b2b;
}

.recipeCardContainer {
  background-color: #fff7f7;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  width: 24rem;
  height: 24rem;
  overflow-y: scroll;
}

.recipeTitle {
  color: #2b2b2b;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  font-family: var(--font-quicksandBold);
}

.recipeText {
  text-align: left;
  color: #2b2b2b;
  font-family: var(--font-quicksandBold);
}

.servingsText {
  text-align: center;
  color: #2b2b2b;
  font-family: var(--font-quicksandBold);
}

.hyperLinkOrange {
  text-align: center;
  color: #ff9f67;
  font-family: var(--font-quicksandBold);
}

.ingredientList {
  list-style-position: inside;
}

.ingredientListItem {
  text-align: left;
  font-size: 0.875rem;
  color: #2b2b2b;
  list-style-type: disc;
  font-family: var(--font-quicksand);
}

.instructionText {
  text-align: left;
  font-size: 0.875rem;
  color: #2b2b2b;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  list-style-type: decimal;
  font-family: var(--font-quicksand);
}

.emptyListText {
  text-align: center;
  color: #2b2b2b;
  margin: auto;
  font-family: var(--font-quicksand);
}
