.pageContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.headerText {
  color: rgb(234 88 12 / 0.7);
  font-family: var(--font-quicksandBold);
  font-size: 2.5rem;
}

.subheaderText {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #718096;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  max-width: 50%;
  font-weight: bold;
}

.logosContainer {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-bottom: 6rem;
  margin-top: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.rowContainer {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem;
}
