.pageContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 75%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: rgba(245, 247, 249, 0.87);
}

/* "flex flex-col text-center justify-center items-center mx-auto w-3/4 py-12 bg-slate-50/50" */

.layoutContainer {
  background-color: rgba(249, 245, 245, 0.87);
}

/* "bg-slate-50/50" */
