.pageContainer {
  padding: 1rem;
  background-color: #fdfcfb;
}

.instructionsContainer {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 1rem auto;
}

.instructionsTitle {
  color: #2b2b2b;
  text-align: center;
  font-family: var(--font-quicksandBold);
  margin-top: 1rem;
  font-size: 1.5rem;
}

.stepTitle {
  margin-top: 0.5rem;
  color: #2b2b2b;
  font-size: 1rem;
  font-family: var(--font-quicksandBold);
}

.stepText {
  margin-bottom: 0.5rem;
  color: #2b2b2b;
  font-size: 1rem;
  font-family: var(--font-quicksand);
}

.orangeText {
  color: #ff9f67;
}

.redText {
  color: #d76a6a;
}

.greenText {
  color: #6da882;
}
